:root {
  --branding-color: #6c63ff;
  --secondary-color: #faf7ff;
  --heading-font-family: "playfair display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
  margin: 0;
}

h2 {
  margin-bottom: 2rem;
  font-size: 64px;
}

p {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

#hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

#hero p {
  font-family: "poppins";
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

#hero h2 {
  font-family: "poppins", sans-serif;
  font-weight: normal;
  font-size: 24px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
  text-decoration: none;
}

.btn-branding-outline {
  border-radius: 4px;
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
  text-decoration: none;
}

.project-description {
  padding: 120px 60px;
}

@media (max-width: 900px) {
  .project-description {
    padding: 0;
    text-align: center;
  }
}
