:root {
  --branding-color: #6c63ff;
  --secondary-color: #faf7ff;
  --heading-font-family: "playfair display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
  margin: 0;
  line-height: 1.5;
}

h2 {
  margin-bottom: 2rem;
  font-size: 64px;
}

h4 {
  font-size: 48px;
}

p {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

#hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

#hero p {
  font-family: "poppins";
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

#hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 24px;
}
.content-container {
  padding: 160px 20px;
  text-align: center;
}

.content-container h1 {
  font-size: 64px;
  line-height: 80px;
}

.content-container h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content {
  margin: 30px;
}

.content h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
  line-height: 1.5;
  margin-bottom: 0;
}

.content p {
  font-size: 14px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
  text-decoration: none;
}

.btn-branding-outline {
  border-radius: 4px;
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
  text-decoration: none;
}

.project-description {
  padding: 120px 60px;
}

.logo {
  max-height: 70px;
}

nav {
  padding: 20px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease;
  font-size: 14px;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background-color: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background-color: var(--secondary-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}

.github {
  text-align: center;
}

@media (max-width: 900px) {
  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 42px;
  }

  h4 {
    font-size: 18px;
  }

  .hero {
    padding: 80px 20px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  footer .contact-box {
    padding: 30px;
  }
}
